<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"]Orus Books</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/Biblioteca.styles.css" asp-append-version="true" />

</head>
<body style="background-color: #081E28;">
    <header class="mb-3" style="background-color: #2F63B2;">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm box-shadow">
            <div class="container-fluid ">
                <a class="navbar-brand underline-hover text-white" asp-area="" asp-controller="Biblioteca" asp-action="Index">Início </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                    <ul class="navbar-nav flex-grow-1" style="border-left: 1px solid white;">
                        <li class="nav-item">
                            <a class="nav-link underline-hover text-white" asp-area="" asp-controller="Biblioteca" asp-action="Livros">Livros</a>
                        </li>
                        <li class="nav-item me-1" style="border-right: 1px solid white;">
                            <a class="nav-link underline-hover text-white" asp-area="" asp-controller="Biblioteca" asp-action="Autores">Autores</a>
                        </li>
                        <li class="nav-item">
                            <div class="dropdown">
                            <a class="underline-hover text-white dropdown-toggle nav-link" style="text-decoration: none !important;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Adicionar
                            </a>

                            <ul class="dropdown-menu">
                                <li><a class="dropdown-item a-default" asp-controller="Biblioteca" asp-action="CriarLivro">Adicionar Livro</a></li>
                                <li><a class="dropdown-item a-default" asp-controller="Biblioteca" asp-action="CriarAutor">Adicionar Autor</a></li>
                            </div>
                        </li>

                    </ul>

                </div>
            </div>
        </nav>
    </header>
    <div class="container-fluid text-white">
        <main role="main" class="pb-3" class="text-white">
            @RenderBody()
        </main>
    </div>

    <footer class="footer text-white" style="background-color: #2F63B2;">
        <div class="container">
            &copy; 2026 - Orus Books - <a asp-area="" asp-controller="Bblioteca" asp-action="Privacy" class="text-white">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
